*{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
    font-family: 'Futura PT', sans-serif;
    font-size:25px;
} 	

img{
	max-width: 100%;
	max-height: 100%;
}

.header{
    width: 100%;
    height: 150px;
    background-color: #FAEDCD;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search{
    display: none;
}

.logo{
    display: flex;
    justify-content: center;
    padding-left: 20%;
    width: 60%;
    height:100%
}

#cart{
    display: none;
  
}

#profile{
    display: none;
  
}

.mobilenav{
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 8vw;
    
    width: 20%;
}


.topnav {
    overflow: hidden;
    background-color: #FAEDCD;
    position: relative;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: black;
    padding: 2% 2%;
    text-decoration: none;
    text-align: center;
    font-size: 70%;
    display: block;
}
  
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: underline;
}
  
.active {
    background-color: #04AA6D;
    color: white;
}

.desknav{

    padding-bottom: 5%;
}

.desknav a{
    display: none;
}

.cary{
	display: flex;	
	flex-direction: column;
	padding-top: 5%;
    padding-bottom: 10%;
	
	align-items: center;
	
}

#bunny{

	width: 80%;
	height: 80%;
	
}

.col{
    padding-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

#goal{
    
	padding-bottom: 5%;
	text-align: center;
	font-size: 5vw;
	width: 85%;
	height: 90%;
	
}



#discount{
	padding-top: 2%;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	
}

.title{
    width: 100%;
    background-color: #FAEDCD;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 5VW;
}


.howmadevideo{
	display: flex;
    margin: auto;
	width: 90%;
	padding-top: 5%;
	padding-bottom: 10%;
	max-width: 100%;
	max-height: 100%;
}



/* CAROUSEL */

.image-list img{
    max-width: fit-content;
    height: auto;
}


.container {
    padding-top: 10%;
    padding-bottom: 10%;
    margin: auto;
    max-width: 100%;
    width: 80%;
  }



  .slider-wrapper {
    position: relative;
  }

  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  .slider-wrapper .slide-button:hover {
    background: #404040;
  }

  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }

  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }

  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(9, 33%);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }

  .slider-wrapper .image-list .image-item {
    width: 100%;
    height: 100%;
  }

  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }

  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }

  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }

  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }

  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }


.slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 100%;
    height: 100%;
  }

/*FOOTER*/

.footer{
	height: 200px;
	background-color: #FAEDCD;
	display: flex;
	flex-direction: column;
}

.backtotop{
    width: 100%;
    height: 50%;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.icons{	
	display: flex;
    width: 100%;
    height: 50%;
	justify-content: space-evenly;
    align-items: center;
}

.icon-color{
	color: #EE806D;

}


/*TESTIMONIALS CSS*/

.testimonialcol{
    padding-top: 5%;
    padding-bottom: 5%;
}

.testimonials{   
    display: flex;
    flex-direction: column;
    align-items: center;    
  }
  
  .testimonials img{
    width: 80%;
  }
  
  /*END TESTIMONIALS CSS*/